.topBar{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.topBar > p{
    font-size:1rem;
    align-self: center;
    font-family: var(--secondary-font);
}

.topBar > button{
    background-color:rgb(88, 21, 150);
    color:white;
    padding: 0.5rem 1rem;
    border-radius:20px;
}
.topBar > button:hover{
    background-color:rgb(255, 255, 255);
    color:rgb(120, 65, 131);
}


.hero{
    background-image: url("./../images/sfondo-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(108, 100, 214, 0.473); */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}


.hero > h1 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: var(--titles-font);
    padding: 0 5vw;
}

.hero > h3 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    padding: 0 5vw;
}

/* h2{
    font-size: 1.5rem;
    color:rgb(79, 5, 94);
    font-weight: 600;
    margin: 1rem 0 0 1rem;
} */

.main{
}

.bio{
    background-color:rgb(206, 206, 206);
    padding: 10vw 5vw ;
}

.skills{
    background-color:rgb(0, 0, 0);
    color: white;
    padding: 10vw 5vw ;
}